:root {
  --color-dark: #2C2C2C;
  --color-light: #FFFAF4;
  --color-primary: #C2667F;
  --color-secondary: #F3D9DA;
  --content-width-max: 100ch;
  --content-width-min: 250px;
  --main-border-radius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anchor {
  position: relative;
  top: -5rem;
}

.content-container {
  max-width: var(--content-width-max);
  min-width: var(--content-width-min);
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);  
  color: var(--color-dark);
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 5rem;
}

header {
  margin: 0.5rem 0 1rem;
}

footer {
  background-color: var(--color-secondary);
  font-size: 0.85rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: var(--color-primary);
  font-family: chewy;
  font-size: 2.34rem;
}

h2 {
  text-align: center;
  color: var(--color-primary);
  font-weight: bold;
  margin: 1rem 0;
}

h3 {
  text-align: center;
  color: var(--color-primary);
  font-weight: normal;
  font-size: 1.1rem;
}

p {
  margin: auto;
  text-align: center;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem 1rem;
}

li span {
  margin-left: 0.5rem;
}

section {
  text-align: center;
  padding: 1rem 0.5rem 3rem;
  min-width: 250px;
}

section:nth-child(odd) {
  background-color: var(--color-secondary);
}

section:nth-child(odd) li > b {
  color: var(--color-primary);
}


/* NAV */

nav {
  display: flex;
  position: fixed;
  background-color: var(--color-secondary);
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  height: 5rem;
  width: 100%;
  top: 0;
}

nav img {
  height: 5rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: var(--color-dark);
  text-decoration: none;
  padding: 2rem;
}

.nav-link:hover {
  color: var(--color-primary);
  background-color: var(--color-light);
}


/* ABOUT */

.video-container {
  margin: 2rem auto;
}


/* PRICES */

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-secondary);
  margin-bottom: 1rem;
  padding: 1rem;
}

.cats-col {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.price-col {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.disclaimer {
  font-size: 0.75rem;
  font-style: italic;
  grid-column: 1 / 3;
  grid-row: 2;
}

.calculator-container {
  background-color: var(--color-secondary);
  padding: 1rem;
}

#total-fee {
  color: var(--color-primary);
  font-size: 1.34rem;
  margin: 0 auto 1rem;
}


/* FORM */

form {
  display: block;
  padding: 1rem 0 0.1rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  display: block;
  border-radius: var(--main-border-radius);
  margin: 0 auto;
  padding: 7px 10px;
  max-width: 130px;
  width: 100%;
}

button {
  background-color: var(--color-secondary);
  border-radius: var(--main-border-radius);
  margin: auto 1rem;
  padding: 0.5rem;
}

button:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.invalid {
  color: red;
}


/* CONTACT */

.call-to-action {
  display: inline-block;
  color: var(--color-light);
  background-color: var(--color-primary);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--color-primary);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.67rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.socials {
  padding: 1rem;
}

.socials a {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.socials a:hover {
  color: var(--color-primary);
}

.socials img {
  width: 2rem;
  height: 2rem;
}


@media screen and (max-width: 768px) {

  .nav-link {
    padding: 1.5rem 1rem;
  }

  nav li {
    padding: 0.15rem;
  }

  nav > ul > li:first-child {
    display: none;
  }

}


@media screen and (max-width: 400px) {
  .content-container {
    padding: 0 0.5rem;
  }

  nav {
    padding: 0;
  }

  nav img {
    height: 4rem;
  }


  nav > ul {
    display: none;
  }

}
