:root {
  --font-color1: #C2667F;
  --font-color2: #c04a65;
  --background-color1: #F3D9DA;
  --background-color2: #C2667F;
  --background-color3: #FFFAF4;
  --main-border-radius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.top-spaced {
  margin-top: 2rem !important;
}
/* NAV */
#header-img {
  width: 5rem;
  height: 5rem;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  min-width: 300px;
  width: 100vw;
  background-color: var(--background-color1);
  z-index: 3;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > ul > li {
  display: list-item;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 2rem;
}

.nav-link:hover {
  background-color: var(--background-color3);
  color: var(--background-color2);
}
/* #PAGE-WRAPPER */
#page-wrapper {
  position: relative;
  padding: 8rem 5rem;
  background-color: var(--background-color3);
  z-index: 2;
}

#about-section {
  text-align: center;
  min-width: 250px;
}

.title {
  text-align: center;
  color: var(--background-color2);
  font-family: chewy;
  font-size: 2rem;
}

.subtitle {
  font-family: Poppins;
  font-size: 20px;
  padding: 1rem;
  text-align: center;
  color: var(--font-color2);
}

.about {
  padding: 15px;
  text-align: center;
  margin: auto;
  max-width: 60rem;
  font-family: arial;
  line-height: 1.5;
}
/* #MAIN-CONTAINER */  
.main-container {
  max-width: 1000px;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
}

input {
  width: 100%;
  border-radius: var(--main-border-radius);
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: pink;
  border-radius: var(--main-border-radius);
  z-index: 1000;
}

.btn:hover {
  background-color: var(--background-color2);
  color: var(--background-color3);
}

.services {
  justify-content: center;
}

.services-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.services-div {
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pricing-grid {
  border: 1px solid black;
  max-width: 1000px;
  min-width: 250px;
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background-color1);
}

.grid-title {
  font-size: 1rem;
}

.cats-col {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.price-col {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.disclaimer {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
  padding: 1rem;
  font-size: 0.75rem;
  font-style: italic;
}
/* #QUOTE*/
.show-calc-paragraph {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--font-color2);
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  padding: 2rem;
  min-width: 250px;
  width: 100%;
  background-color: var(--background-color1);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0.5rem;
  z-index: 2;
}

.calculator input {
  width: 100%;
  padding: 0.25rem;
  border-radius: var(--main-border-radius);
}

.calc-label {
  padding: 1rem;
}

#total-fee {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.total {
  flex-direction: flex-end;
  font-size: 1.5rem;
  color: var(--font-color2);
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

button {
  display: flex;
  justify-content: space-between;
  border-radius: var(--main-border-radius);
  z-index: 1;
  padding: 0.5rem;
  background-color: var(--background-color1);
}

button:hover {
  background-color: var(--background-color2);
  color: var(--background-color3);
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.bold {
  display: none;
  font-weight: bolder;
}
/* CONTACT */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: var(--background-color1);
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--main-border-radius);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.socials a:hover {
  color: var(--background-color2);
}

.socials img {
  width: 2rem;
  height: 2rem;
}
/* #FOOTER */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color1);
  padding: 1rem;
  min-width: 250px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  min-width: 250px;
  width: 100%;
}
/* MEDIA QUERIES */
@media (max-width: 600px) {
  header {
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 100px;
  }
}

@media (max-width: 500px) {
  #nav-bar {
    flex-direction: column;
  }
  .nav-link {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: flex;
  }
  #page-wrapper {
    padding: 10rem 2.5rem;
  }
}

@media (max-width: 400px) {
  #nav-bar {
    position: static;
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: flex;
  }
  .logo {
    display: none;
  }
  #page-wrapper {
    padding: 2rem 2.5rem;
  }
}